@font-face {
    font-family: "Merriweather";
    src: url('../fonts/MerriweatherSans-Italic-VariableFont_wght.ttf');
}

body{
    margin: 0;
}

.app{
    display: grid;
    height: 100vh;
    grid-template-rows: 140px 1fr 80px;
}

.header{
    display: flex;
    justify-content: center;
    background-color: #8980F5;
    padding-bottom: 20px;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Merriweather", sans-serif;
}

h1{
    font-size: 38px;
}

.cv-container{
    background-color: #21897E;
    padding: 40px;
}

.footer{
    background-color: #69D1C5;
    font-family: "Merriweather", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.github{
    height: 20px;
}

.cv{
    background-color: rgba(255, 255, 255, 0.699);
    height: 100%;
}